*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 14px;
    line-height: 20px;
    font-family: Arial,sans-serif;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.container{
    width: 1320px;
    margin: auto !important;
}

/* ...........................main_menu_part............................. */
.main_menu_fulldiv {
    display: inline-block;
    text-align: center;
    position: fixed;
    background-color: #ffffff;
    width: 100%;
    height: 130px;
    z-index: 2;
}

.logo_div {
    width: 220px;
    height: 180px;
    position: relative;
    top: -19px;
    right: -50px;
}
.logo_div img {
    max-width: 100%;
    height: 100%;
}
.logo_div a{
    display: inline-block;
}
.deliverder_to span {
    font-size: 15px;
    position: relative;
    left: 24px;
    top: 8px;
}
.location_icon {
    display: inline-block;
    position: absolute;
    top: 21px;
    left: -3px;
    font-size: -2px;
}
.deliverder_to {
    display: inline-block;
    position: absolute;
    top: 32px;
    left: 24%;
    text-align: left;
    cursor: pointer;
}
.deliverder_to i{
    font-size: 25px;
}
.deliverder_to .select {
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 29px;
    left: 20px;
    cursor: pointer;
}
.search {
	width: 100%;
	height: 100%;
	border-radius: 8px;
	background-color: #fff;
	border: 2px solid #ff9900;
	box-shadow: 1px 1px 1px 1px rgb(209 202 202);
	padding-left: 140px;
	cursor: text;
	outline: none;
	position: relative;
    /* top: -40px; */
}
.search_div {
    width: 50%;
    height: 38px;
    position: relative;
    top: -135px;
    left: 35%;
}
.search_selector_div {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.main_search_selector {
    padding: 10px 5px;
    position: absolute;
    top: 1px;
    left: 2px;
    width: 50px;
    transition: .3s;
    display: block;
    outline: none;
}
.main_search_selector:first-child {
    padding: 6.5px 0px;
    font-size: 18px;
    border-radius: 6px 0px 0px 6px;
    width: 140px;
    outline: none;
    cursor: pointer;
    border: none;
}

.main_search_selector:hover{
    background-color: #ddd;
    /* border: 2px solid #ff9900; */
    /* padding: 4.5px 3px; */
}
.search_btn {
	background-color: #ff99009f;
	color: rgb(0, 0, 0);
	font-size: 25px;
	padding: 6px 16px;
	display: inline-block;
	border-radius: 0px 7px 7px 0px;
	border: none;
	outline: none;
	position: absolute;
	top: 0;
	right: 0;
	transition: .4s;
	z-index: 1;
	overflow: hidden;
}
.search_btn::before{
    content: "";
    height: 100%;
    width: 0%;
    background-color: #dc8400;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    outline: none;
    transition: .5s;
}
.search_btn:hover::before{
    width: 100%;
}

.cart_div {
    font-size: 40px;
    position: absolute;
    top: 23%;
    right: 10%;
}
.cart_div i{
    color: black;
}
/* .cart_div b{ */
    /* font-size: 15px; */
/* } */
.sing_in_div{
    font-size: 35px;
    position: absolute;
    top: 20%;
    right: 4%;
}
.sing_in_div i{
    color: black;
}
.sing_in_div b{
    font-size: 15px;
}
.menu_ul {
     background-color: #042716;
     top: -126px;
     position: relative;
     z-index: 3;
}
.menu_ul::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #e84118;
    z-index: -1;
    transition: .5s;
    height: 0%;
    width: 0%;
}

.menu_ul::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #e84118;
    z-index: -1;
    transition: .5s;
    height: 0%;
    width: 0%;
}
.menu_ul:hover::before{
    width: 100%;
    height: 50%;
}
.menu_ul:hover::after{
    height: 50%;
    width: 100%;
}
.menu_ul li {
    display: inline-block;
    margin-left: -4px;
    position: relative;
}
.menu_ul li a {
    
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 22.1px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 1;
    position: relative;
    transition: .5s;
}
.menu_ul li a::before{
    content: "";
    height: 100%;
    background-color:#fff;
    color: #042716;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    transition: .7s;
    z-index: -1;  
}
.menu_ul li a:hover::before{
    width: 100%;
}
.menu_ul li:hover >a {
    color: #042716;
    background-color: white;
}
.khali {
	width: 100%;
	height: 130px;
}
/* .................drop_down_part................... */

.Contact {
    position: absolute;
    width: 168px;
    background-color: #042716;
    top: 95%;
    left: 0;
    padding-left: 0;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    transform: scaleY(0);
    transform-origin: top center;
    margin-top: 3px;
    
}
.Contact li{
    display: block;
    margin-left: 0;
   border-top: 1px solid black;
} 
.Contact li a{
    display: block;
    border-bottom: 1px solid rgb(169, 169, 169);
    font-size: 17px;
}

.news_event {
    position: absolute;
    width: 220px;
    background-color: #042716;
    color: white;
    top: 100%;
    left: 0;
    padding-left: 0;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    transform: scaleY(0);
    transform-origin: top center;
    
}

.news_event li{
    display: block;
    margin-left: 0;
   border-top: 1px solid black;
} 

.news_event li a{
    display: block;
    border-bottom: 1px solid rgb(169, 169, 169);
    font-size: 15px;
}
.about {
    position: absolute;
    width: 203px;
    background-color: #042716;
    color: white;
    top: 100%;
    left: 0;
    padding-left: 0;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    transform: scaleY(0);
    transform-origin: top center;
}
.about li{
    display: block;
    margin-left: 0;
   border-top: 1px solid black;
}
.about li a{
    display: block;
    border-bottom: 1px solid rgb(169, 169, 169);
    font-size: 15px;
}
/* ....................dorp_down_hover_part.....................*/

.menu_ul li:hover .Contact{
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
    
}
.menu_ul li:hover .news_event{
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
    
}
.menu_ul li:hover .about{
    visibility: visible;
    opacity: 1;
    transform: scaleY(1);
    
}


/* ..................banner_part.................... */
.full_track{
    background: url(https://i.ibb.co/tHpvG79/track-Recovered.png) no-repeat;
    width: 250px;
    position: absolute;
    top: 0px;
    right: 100%;
    margin-top: 34px;
    animation-name: fulltrack;
    animation-duration: 6s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    height: 200px;
    background-size: 250px;
}
@keyframes fulltrack{
    0%{
        right: -30%;
        top: 0;
        
    }
    100%{
        right: 100%;
        top: 0;
        
    }
}
.grecory {
	margin: auto;
	background: url(https://images.unsplash.com/photo-1542838132-92c53300491e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80) no-repeat fixed ;
	color: #000707;
	padding-top: 31%;
    background-size: cover;
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    height:auto;
    width: 100%;
    position: relative;
}
.inner_text h2{
    font-size: 40px;
    position: relative;
    top: 190px;
    background-color: #222f3ebd;
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
}
.inner_text h2::after{
    content: "";
    height: 0%;
    background-color:#353b48;
    color: #ffffff;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
    z-index: -1;  
}
.inner_text h2::before{
    content: "";
    height: 0%;
    background-color:#000000;
    color: #ffffff;
    width: 0%;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: .5s;
    z-index: -1;  
}
.inner_text h2:hover::after{
  height: 50%;
  width: 100%;
  transform: skewY(1);
}
.inner_text h2:hover::before{
    height: 50%;
    width: 100%;
    transform: skewY(1);
}
.inner_text {
	font-size: 100px;
	letter-spacing: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 450px;
    width: 100%;
    text-align: center;
    background-color: #ffffff00;
    transition: 0.5s;
    font-weight: bold;
}
/* ...................our_catagories_part................. */

.Product-Head {
	border: none;
	text-align: center;
	background-color: rgb(255, 0, 0);
	color: rgb(255, 255, 255);
	display: block;
	margin-top: -10.5%;
    font-family: orbitron;
    padding: 10px 0px;
    font-size: 30px;
    letter-spacing: 8px;
    position: relative;
    z-index: 1;
}
.Product-Head::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgb(48, 22, 22);
    z-index: -1;
    height: 0%;
    width: 100%;
    transition: .5s;
}
.Product-Head:hover::before{
    height: 50%;
    
}
.Product-Head::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(48, 22, 22);
    z-index: -1;
    height: 0%;
    width: 100%;
    transition: .5s;
}
.Product-Head:hover::after{
    height: 50%;
}

/* ............................product_mainlist_par................. */
.product_list{
    text-align: center;
    /* margin: 10px; */
}
.item-list{
    text-align:center;

}
.item {
     text-align: center;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     border: 1px solid rgb(116, 115, 115);
     box-shadow: 0px 0px 1px 2px #aaaaaa;
     display: inline-block;
     margin: 5px;
     width: 355px;
     transition: 0.5s;
}
.item a {
    text-decoration: none;
    font-size: 22px;
    color: rgb(0, 0, 0);
    padding: 20px 0px;
    display: inline-block;
    font-weight: 500;
}
.item:hover{
    background-color: #ddd;
}
.item_icon{
    float: right;
}
.item_icon i{
    font-size: 25px;
    padding: 20px 0px;
    padding-right: 20px;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>how to order section>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.dotted_one {
    position: absolute;
    top: 82px;
    left: 315px;
    font-weight: bold;
}
.order-proces{
    text-align: center;
    /* display: inline-block; */
}
.how{
    text-align: center;
    margin-bottom: 2%;
    cursor: help;
    color: black;
    box-shadow: 1px 1px 1px 1px grey;
}
.how span{
    color: crimson;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.first_divition{
    float: right;
    position: relative;
    right: 60px;
}
.place_order {
    float: right !important;
    width: 30%;
    margin-top: 80px;
    position: relative;
    padding-top: 55px;
    right: -340px;
    top: 0px;
    font-family: 'Righteous', cursive;
}
.order_icon {
    height: 55px;
    width: 55px;
    border: 3px solid #45b2ec;
    border-radius: 50%;
    position: absolute;
    left: 42%;
    background-color: #ffffff;
    top: -15px;
    text-align: center;
    transform: scale(1);
    transition: .5s;
}
.order_icon i {
    font-size: 29px;
    position: absolute;
    top: 13px;
    left: 8px;
    color: #45b2ec;
}
.place_order:hover .order_icon{
    transform: scale(1.5);
}
.search_product{
    float: right !important;
    width: 30%;
    margin-top: 80px;
    position: relative;
    padding-top: 55px;
    left: -340px;
    top: 0px;
    z-index: 1;
    font-family: 'Righteous', cursive;
}
.search_icon {
    height: 55px;
    width: 55px;
    border: 3px solid #45b2ec;
    border-radius: 50%;
    position: absolute;
    left: 42%;
    background-color: #ffffff;
    top: -15px;
    text-align: center;
    transform: scale(1);
    transition: .5s;
}
.search_icon i{
   font-size: 29px;
   position: absolute;
   top: 13px;
   left: 12px;
   color: #45b2ec;
}
.search_product:hover .search_icon{
    transform: scale(1.5);
}
.order_img_one{
    float: right !important;
    max-width: 30%;
}
.order_img_one img{
    width: 100% !important;
    float: right;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>?second_division>>>>>>>>>>>>>>>>>> */
.second_divition{
    float: left;
    /* margin: 20px; */
    position: relative;
    left: 60px;
}
.dotted_two {
    position: absolute;
    top: 49px;
    left: 423px;
    font-weight: bold;
}
.order_img_two{
    width: 30%;
    float: left !important; 
}
.order_img_two img{
    width: 100% !important;
    float: left !important;
}
.taka {
    height: 55px;
    width: 55px;
    border: 3px solid #45b2ec;
    border-radius: 50%;
    position: absolute;
    left: 42%;
    background-color: #ffffff;
    top: -15px;
    text-align: center;
    transform: scale(1);
    transition: .5s;
   
}
.taka span {
    font-size: 30px;
    position: absolute;
    top: 16px;
    left: 16px;
    color: #45b2ec;
}
.easy_payment {
    float: left !important;
    width: 30%;
    margin-top: 80px;
    position: relative;
    padding-top: 55px;
    left: -10px;
    top: -32px;
    z-index: 1;
    font-family: 'Righteous', cursive;
}
.easy_payment:hover .taka {
    transform: scale(1.5);
}
.fast_delivary {
    float: left !important;
    width: 35%;
    margin-top: 80px;
    position: relative;
    padding-top: 55px;
    left: 56px;
    top: -32px;
    font-family: 'Righteous', cursive;
}
.delivery_car{
    height: 60px;
    width: 60px;
    border: 3px solid #45b2ec;
    border-radius: 50%;
    position: absolute;
    left: 42%;
    /* right: 50% !important; */
    background-color: #ffffff;
    top: -15px;
    text-align: center;
    transform: scale(1);
    transition: .5s;
}
.delivery_car i{
    font-size: 30px;
    position: absolute;
    top: 13px;
    left: 10px;
    color: #45b2ec;
}
.fast_delivary:hover .delivery_car{
    transform: scale(1.5);
}
/* ...................why_love_sodaichai_part...................... */

.why_love_sodaichai_maindiv{
    text-align: center;
    margin-bottom: 10px;
}
.why_love_sodaichai_maindiv h1{
    box-shadow: 1px 1px 1px 1px grey;
    margin-bottom: -20px;
}

.quick{
    display: inline-block;
    width: 30%;
    box-shadow: 1px 1px 1px 1px grey;
    
}
.pick{
    display: inline-block;
    width: 30%;
    box-shadow: 1px 1px 1px 1px grey;
}
.range_product{
    display: inline-block;
    width: 35%;
    box-shadow: 1px 1px 1px 1px grey;

}

/* ...........................footer_part.......................... */

footer{
    text-align: center;
    font-size: 20px;
    background-color: rgb(192, 188, 188);
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: default;
}

.foter-div {
    max-width: 100%;
    margin: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    
}
.footer-2{
    background-color: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    text-align: center;
    box-shadow: 0px 0px 1px 0px rgb(138, 138, 138);
}
.p_com{
    font-size: 25px;
    color: rgb(8, 7, 9);
    text-decoration: none;
}
.footer_com:hover{
    color: rgb(104, 4, 4);
}
